body {
	margin: 0;
	background-image: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(242,98,244,1) 100%);
}

#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 30vw;
	height: 60vh;
	min-width: 250px;
	min-height: 350px;
	border-width: 5px;
	border-style: solid;
	border-top-color: rgb(124, 176, 250);
	border-left-color: rgb(124, 176, 250);
	border-right-color: rgb(128, 119, 250);
	border-bottom-color: rgb(128, 119, 250);
	padding: 0.5%;
	background-color: rgb(217, 242, 255);
	text-align: center;
}

#number, #fromSystem, #toSystem, #resultsFontSize {
	display: inline-block;
	background: none;
	border-width: 3px;
	border-style: solid;
	border-top-color: rgb(124, 176, 250);
	border-left-color: rgb(124, 176, 250);
	border-right-color: rgb(128, 119, 250);
	border-bottom-color: rgb(128, 119, 250);
	width: 8vw;
	height: 3vh;
	min-height: 30px;
	font-size: 13px;
	box-sizing: border-box;
	margin: 0.2vw;
	padding: 1px;
}

#fromSystem, #toSystem, #resultsFontSize {
	cursor: pointer;
}

#number {
	width: 6vw;
}

#resultsFontSize {
	width: 4vw;
}

#calculateBtn {
	background: none;
	border-width: 3px;
	border-style: solid;
	border-top-color: rgb(124, 176, 250);
	border-left-color: rgb(124, 176, 250);
	border-right-color: rgb(128, 119, 250);
	border-bottom-color: rgb(128, 119, 250);
	cursor: pointer;
	margin-top: 2vh;
	padding: 1vh 0.5vw;
	font-size: 20px;
	font-style: italic;
}

#resultsContainer {
	width: 100%;
	height: 40vh;
	margin-top: 4vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-width: 3px;
	border-style: solid;
	border-top-color: rgb(124, 176, 250);
	border-left-color: rgb(124, 176, 250);
	border-right-color: rgb(128, 119, 250);
	border-bottom-color: rgb(128, 119, 250);
}

#results {
    font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	text-align: left;
}

#author {
    position: fixed;
	bottom: 0;
	right: 0;
	margin: 4px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}