body {
	margin: 0;
	background-image: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(242,98,244,1) 100%);
}

#container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 90vw;
	height: 80vh;
	border-width: 5px;
	border-style: solid;
	border-top-color: rgb(124, 176, 250);
	border-left-color: rgb(124, 176, 250);
	border-right-color: rgb(128, 119, 250);
	border-bottom-color: rgb(128, 119, 250);
	padding: 1%;
	background-color: rgb(217, 242, 255);
	text-align: center;
	display: flex;
	flex-direction: column;
}

#convertForm {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#number, #fromSystem, #toSystem, #resultsFontSize {
	font-size: 13px;
	box-sizing: border-box;
}

#number, #fromSystem, #toSystem, #resultsFontSize, #calculateBtn {
	display: inline-block;
	background: none;
	border-width: 3px;
	border-style: solid;
	border-top-color: rgb(124, 176, 250);
	border-left-color: rgb(124, 176, 250);
	border-right-color: rgb(128, 119, 250);
	border-bottom-color: rgb(128, 119, 250);
	margin-top: 2%;
	min-width: max-content;
	min-height: max-content;
}

#fromSystem, #toSystem, #resultsFontSize, #calculateBtn {
	cursor: pointer;
}

#number {
	width: 30%
}

#fromSystem, #toSystem {
	width: 20%;
}

#resultsFontSize {
	width: 5%;
}

#calculateBtn {
	font-size: 20px;
	font-style: italic;
	width: 10%;
}

#resultsArea {
	font-family: 'Courier New', Courier, monospace;
	font-size: 16pt;
	width: 100%;
	height: 100%;
	margin-top: 4vh;
	box-sizing: border-box;
	border-width: 3px;
	border-style: solid;
	border-top-color: rgb(124, 176, 250);
	border-left-color: rgb(124, 176, 250);
	border-right-color: rgb(128, 119, 250);
	border-bottom-color: rgb(128, 119, 250);
	text-align: left;
	overflow: auto;
	white-space: nowrap;
	background-color: white;
	padding: 0.5%;
}

#author {
    position: fixed;
	bottom: 0;
	right: 0;
	margin: 4px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}